header {
  padding: 30px;
  text-align: left;
  background: #534C53;
  font-size: 30px;
}
h1{
	color:"white";
	font-size:2em;
	font-family:Arial;
	line-height:1;
	font-weight:100;
}
div{
	background-image:url(https://tenor.com/es/ver/dank-memer-gif-24291191)
}
li{
	
}
